{% extends 'base.html' %}
{% from "form_macros.html" import render_field %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
   <h1>{{ title }} </h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}   
        {{render_field(form.name, size=50, class="form-group")}}
        {{render_field(form.description, size=250, class="form-group")}}
        {{render_field(form.category, class="form-group")}}
        {{render_field(form.picture, class="form-group")}}
        {{render_field(form.submit, class="btn btn-primary")}}
    </form>
    <a href="{{url_for('main.index')}}" class="btn btn-default">Back to Home</a>
{% endblock %}