
   <nav class="navbar navbar-inverse">
      <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('main.index')}}">
              <h2>Catalog App</h2>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if session.picture %}
            <li><img src="{{session.picture}}" style="border-radius:50%; height:40px;width:40px;" alt=""></li>
            {% endif %}
            <li>
                {% if session.name %}
                    <a id="logoutLink" href="{{ url_for('auth.disconnect') }}" class="nav-link">Logout</a>
                {% else %}
                    <a id="loginLink" href="{{ url_for('auth.showLogin') }}" class="nav-link">Login</a>
                {% endif %}
                    
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
 